#root {
  text-align: center;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.home ul li {
    padding-left: .3em;
    padding-right: .3em;
}

.home ul li a{
    text-decoration: none;
    color: black;
}

.signup, .uploadForm {
    display: flex;
    flex-direction: column;
}

.image-section {
    display: flex;
    flex-direction: row;
}

.image-container {
    height: 300px;
    margin: .5em;
}

.image-container img {
    height: 150px;
}

.component-header {
    text-align: left;
}

.component-header h1 {
    margin: 0;
}

.component-header ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.component-header li {
    color: black;
    padding: 0 1em 0 1em;
}

.content-container {
    width:100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.tag-list {
    padding-left: 1em;
    display: block;
    text-align: left;
}

.tag-list a {
    display: block;
}
